<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
</head>
<body>
<h2>Sporty Shoes Homepage</h2>
<hr>
<p>
  Welcome to the Sporty Shoes home page!
</p>
<form action="#" th:action="@{/logout}" method="POST">

  <a th:href="@{/product/getAll}" class="button">Customer dashboard</a>
  <br>
  <a th:href="@{/product/getAllAdminDashboard}" class="button">Admin dashboard</a>
  <br>
  <input type="submit" value="Logout">

</form>
</body>
</html>